<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MyElectronics</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    </environment>
</head>
<body>
    <nav class="navbar navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><i class="fa fa-cog"></i> MyElectronics</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart</a></li>
                    <li><a asp-area="" asp-controller="Search" asp-action="Index">Store</a></li>


                    @if(User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="MyAccount" asp-action="Index">My Account</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if(User.IsInRole("Administrator")) 
                    {
                    <li><a asp-area="" asp-controller="StoreManager" asp-action="Index">Manage</a></li>
                    }
                    @if(User.Identity.IsAuthenticated)
                    {
                        <li><a>Welcome @User.Identity.Name</a></li>
                        <li style="color:white"><form method = "post" asp-controller = "Account" asp-action = "Logout"><input style="color:white" type = "submit" value = "Logout"/></form></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
        <div class="main container">         
            @RenderBody()
        </div>
        <div class="footer container-fluid">
            <div class="col-md-8">
                <h3 style="color:orange;">&copy; MyElectronics webstore</h3>
                <hr>
                <h4>Pieter Lems, Suraj Doekharan, Freddy da Cruz, Jawed balKhi</h4>
            </div>
            <div class="col-md-4">
                <ul>
                    <li><span style="color:orange;" class="fa fa-facebook-square"> Facebook</span></li>
                    <li><span style="color:orange;" class="fa fa-instagram"> Instagram</span></li>
                    <li><span style="color:orange;" class="fa fa-twitter-square "> Twitter</span></li>
                </ul>
            </div>
        </div>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
