@model Order

<h2 style="margin-top:250px;">
 <i style="color:orange; font-size:90px;" class="fa fa-check-square-o" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your Order Has been confirmed go to you mail To check the details.


</h2>