body {
    font-family:"Open Sans",Arial,Helvetica,sans-serif;
    padding-top: 50px;
    background-color: #FFFFFF;
}


.page-head{
    font-weight: bold;
}
.main{
    min-height: 82vh;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar
{
     box-shadow: 0 0.5rem 0.6rem rgba(0,0,0,.4);
    background-color: #5767FF;
}

.navbar li a:hover{
    background-color: rgb(71, 83, 194)
}
.navbar li a{
    color: white;
    font-weight: 400;
}

.navbar a{
    color: orange;
}


.nav a{
    display:block; 
    color: black;
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 80%;
    letter-spacing: 2px;
    position: relative;
}

.nav input{
    background-color: transparent;
    border: none;
    color: #9d9d9d;
    display:block; 
    text-decoration: none;
    padding: 1.5em 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    letter-spacing: 2px;
    position: relative;
}

#searchbtn{
    background: none;
    border: none;
    padding: 0;
    outline: none;
    color: rgb(60, 129, 175);
}
#searchbtn:hover{
    color: rgb(76, 76, 150);
}

#addcartbtn{
    background-color: green;
}
#addcartbtn:hover{
    background-color: darkgreen;
}


/* homepagesection---------------------------------------- */

.content-head{
    margin-top: 30px;
}

.i-img{
    margin-bottom: 30px;

}
.in-img{
    width: 100%;
}

.sale-head{
    background-color: #5767FF;
}
.sec-title{

}

#footer{
    position: absolute;
}

#cat-nav .fa{
    font-size:35px !important;
}

#cat-nav ul, li{
    list-style-type: none;
}
#cat-nav li{
    margin-top: 23px;

}

#cat-nav a{
    font-size: 20px;
    color: black;
    font-weight:bold;
}


#cat-nav{
    border:solid 3px #5767FF;
    border-top: transparent;
    padding-bottom: 60px;
    padding-top: 10px;
    padding-left: 70px;
}

.prod{
    margin-bottom: 50px;
}

/* cartsection---------------------------------------- */
.cart-page {

}

.cart-page .fa{
    font-size: 60px;
    margin-right:20px;
    color: orange;
}

.cart-page .s{
    font-size: 20px;
    margin-right:20px;
    color: orange;
}

.order-btn{
    float: right;
    width: 80px;
}


/* Storesection---------------------------------------- */
.store-page .fa{
    font-size: 60px;
    margin-right:20px;
    color: orange;
}



.product-box{
    margin-bottom: 30px;
}

.prevnext{
    right: 0px;
    margin-bottom: 30px;
}

/* Storesection detail---------------------------------------- */
.img{
    width: 80%;
}

.prod-title{
    margin-left: 50px;
    margin-bottom: 30px;
}

.detail-page .text{
    margin-top: 100px;
}

.detail-page h2{
    margin-top: 150px;
    margin-left: 30px;
}

.detail-page .buy-btn{
    margin-left:30px;
    width:200px;
    margin-top:20px;
}


/* MyAccount Wishlist---------------------------------------- */

.wish-page .fa{
    font-size: 60px;
    margin-right:20px;
    color: orange;
}


/* MyAccount editaccount---------------------------------------- */

.my-page .fa{
    font-size: 60px;
    margin-right:20px;
    color: orange;
}

.footer{
    color: white;
    height: 125px;
    background-color: #5767FF;
}
.footer .fa{
    font-size: 20px;
}
.footer li{
    margin-top: 10px;
}


/* geen arrow in input number*/
input[type=number] { 
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    margin: 0; 
}
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
}


/* search box */
input {
	outline: none;
}
input[type=search] {
    box-sizing: content-box; /*extra toegevoegd*/
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 10px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #5767FF;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
.search-box{
    margin-top: -10px;
    margin-bottom: 5px;
}


/* search price */
input[type=number] {
    box-sizing: content-box; /*extra toegevoegd*/
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=number] {
	background: #ededed url(http://pngimg.com/uploads/euro_sign/euro_sign_PNG7.png) no-repeat 12px center;
    background-size: 10px;
    border: solid 1px #ccc;
	padding: 10px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=number]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #5767FF;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.searchnumber{
    padding-top: 7px;
    margin-bottom: 10px;
}



/* sort buttons */
a.button{
    float: left;
    background: #ECECEC;
    border-radius: 15px;
    padding: 5px 10px;
    display: block;
    font-family: arial;
    font-weight: bold;
    color:#7f7f7f;
    text-decoration: none;
    text-shadow:0px 1px 0px #fff;
    border:1px solid #a7a7a7;
    width: 80px;
    margin:0px auto;
    margin-top:4px;
    margin-bottom: 4px;
    margin-right: 8px;
    margin-left: 2px;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    transition: 0ms;
    -webkit-transition:box-shadow 0.5s;
}
a.button i{
    float: right;
    margin-top: 2px;
}
a.button:hover{
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
a.button:active{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}

.button:after{
    font-family: 'Glyphicons Halflings';
    content: '\e119';
    padding-left: 5px;
    position: relative;
    top: 1px;
    font-size: 90%;
}
.btn-upload:after{
    font-family: 'Glyphicons Halflings';
    content: '\e119;';
    padding-left: 5px;
    position: relative;
    top: 1px;
    font-size: 90%;
}


/* onzichtbare button voor submit*/
.no-button{
    border: none;
    padding: none;
    outline: none;
    margin: none;
    border-radius: -10px;
    position: absolute;
}

 input[type=number] .input-test{
    background: #ededed url(https://thumb10.shutterstock.com/display_pic_with_logo/3821945/431066653/stock-vector-vector-clipboard-with-check-list-on-transparent-background-431066653.jpg) no-repeat 12px center;
}