@model AddUserRole

@{
    ViewBag.Title ="AddUserRole";
}


@using (Html.BeginForm())
{
    <form asp-controller="StoreManager" asp-action="AddUserRole">
        <div class="form-horizontal">
            <h1>Add role for @Model.Email</h1>
            <hr />
            <div asp-validation-summary="All"></div>

            <input asp-for="UserId" type="hidden"/>
            <select asp-for="NewRole" asp-items="Model.Roles"></select>
            <input type="submit" value="Add role"/>
    </form>
}